before_install:
  - brew install libidn
language: objective-c
os: osx
matrix:
  include:
    - env: TWITTER_TEXT_DIR=rb
      rvm: 2.4.2
    - env: TWITTER_TEXT_DIR=java
    - env: TWITTER_TEXT_DIR=js
    - env: TWITTER_TEXT_DIR=objc
script: "./.travis.sh"
