language: objective-c
sudo: false
matrix:
  include:
    - env: TWITTER_TEXT_DIR=rb
      rvm: 1.9.3
    - env: TWITTER_TEXT_DIR=rb
      rvm: 2.0.0
    - env: TWITTER_TEXT_DIR=rb
      rvm: 2.1.3
    - env: TWITTER_TEXT_DIR=java
    - env: TWITTER_TEXT_DIR=js
    - env: TWITTER_TEXT_DIR=objc
      osx_image: xcode8
script: "./.travis.sh"
